apiVersion: v1
kind: Pod
metadata:
  name: demo-app-with-probes
  labels:
    arbitrary-key: arbitrary-value
spec:
  containers:
  - image: leprechaun/demo-app:0.1.14-67911c24
    name: demo-app
    ports:
      - containerPort: 3000
        name: http
    livenessProbe:
      httpGet:
        path: /health
        port: 3000
    readinessProbe:
      httpGet:
        path: /health
        port: 3000
