apiVersion: v1
kind: Pod
metadata:
  name: demo-app-full
  labels:
    arbitrary-key: arbitrary-value
spec:
  containers:
  - image: registry.k8s.fscker.org/demo-app:0.1.14-67911c24
    name: demo-app
    env:
      - name: A_PASSWORD_IN_PLAINTEXT
        value: hunter2
    ports:
      - containerPort: 5000
        name: http
    volumeMounts:
    - name: my-volume
      mountPath: /data/
    # When to restart the container
    livenessProbe:
      httpGet:
        path: /health
        port: 5000
    # When to start sending traffic
    readinessProbe:
      httpGet:
        path: /health
        port: 5000
    resources:
      requests:
        memory: "64Mi"
        cpu: "250m"
      limits:
        memory: "128Mi"
        cpu: "500m"

  volumes:
  - name: my-volume
    emptyDir: {}
